# Clone repository

In [1]:
!git clone https://github.com/jsaj/Multi_DES.git

Cloning into 'Multi_DES'...
remote: Enumerating objects: 1047, done.
remote: Counting objects: 100% (148/148), done.
remote: Compressing objects: 100% (102/102), done.
remote: Total 1047 (delta 105), reused 47 (delta 43), pack-reused 899
Receiving objects: 100% (1047/1047), 7.76 MiB | 9.39 MiB/s, done.
Resolving deltas: 100% (458/458), done.

# Imports

In [2]:
import numpy as np
import pandas as pd

# Read data

In [3]:
df = pd.read_csv('/content/Multi_DES/benchmark-execution/benchmarks/CPDP_results.csv')
df.head()

         Method  Dataset ProductName    fscore       auc        pf
0  Menzies11-RF  PROMISE     ant-1.3  0.360000  0.625000  0.200000
1  Menzies11-RF  PROMISE     ant-1.4  0.140845  0.468297  0.188406
2  Menzies11-RF  PROMISE     ant-1.5  0.311111  0.634459  0.168582
3  Menzies11-RF  PROMISE     ant-1.6  0.386740  0.585970  0.208494
4  Menzies11-RF  PROMISE     ant-1.7  0.366762  0.590008  0.205527

# Count win-tie-loss by metric vs dataset

In [6]:
results = []
for metric in ['fscore', 'auc', 'pf']:
  for data in ['AEEEM', 'NASA', 'PROMISE', 'RELINK']:
    res = []
    for m in ['CamargoCruz09-DT', 'EASC-NB', 'Menzies11-RF', 'Turhan09-DT', 'Watanabe08-DT']:
      win = 0
      tie = 0
      loss = 0
      df_data = df.loc[df['Dataset'] == data]
      for project in np.unique(df_data['ProductName']):
        df_project = df_data.loc[df_data['ProductName'] == project]
        
    

        df_metric = df_project[['Method', metric]].reset_index(drop=True).round(3)
        multi_score = df_metric.loc[df_metric['Method'] == 'Multi-DES', metric].values[0]
        if metric != 'pf': 
          cpdp_score = df_metric.loc[df_metric['Method'] == m, metric].values[0]
          if multi_score < cpdp_score:
            loss += 1
          elif  multi_score == cpdp_score:
            tie += 1
          else:
            win +=1

        else:
          cpdp_score = df_metric.loc[df_metric['Method'] == m, metric].values[0]
          if multi_score > cpdp_score:
            loss += 1
          elif  multi_score == cpdp_score:
            tie += 1
          else:
            win +=1

      values = ['{}-{}-{}'.format(win, tie, loss)]
      res.append(pd.DataFrame([values], columns=[m]))
    res = pd.concat(res, axis=1)
    res.insert(0, 'Datasets', data)
    res.insert(0, 'Metric', metric)
    results.append(res)
results = pd.concat(results).reset_index(drop=True)

In [7]:
results

,Metric,Datasets,CamargoCruz09-DT,EASC-NB,Menzies11-RF,Turhan09-DT,Watanabe08-DT
0,fscore,AEEEM,5-0-0,3-1-1,5-0-0,5-0-0,4-0-1
1,fscore,NASA,9-0-3,3-0-9,7-0-5,3-0-9,7-0-5
2,fscore,PROMISE,25-1-36,35-3-24,27-4-31,24-2-36,24-2-36
3,fscore,RELINK,1-1-1,2-0-1,2-0-1,1-0-2,2-0-1
4,auc,AEEEM,5-0-0,5-0-0,5-0-0,5-0-0,5-0-0
5,auc,NASA,11-0-1,7-0-5,12-0-0,12-0-0,8-0-4
6,auc,PROMISE,52-1-9,29-1-32,57-0-5,57-0-5,56-0-6
7,auc,RELINK,2-0-1,1-0-2,2-0-1,3-0-0,3-0-0
8,pf,AEEEM,4-0-1,4-1-0,2-0-3,5-0-0,5-0-0
9,pf,NASA,6-0-6,5-1-6,10-1-1,11-1-0,6-2-4
10,pf,PROMISE,50-5-7,12-11-39,51-8-3,52-7-3,56-3-3
11,pf,RELINK,1-1-1,1-0-2,2-0-1,1-1-1,2-0-1